* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Aclonica, arial;
  text-shadow: 4px 0 10px rgba(63, 112, 111, 1), 2px 0 10px rgba(0, 0, 0, 1);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./img/bg3.jpg');
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: inherit;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background: url('./img/bg3.jpg') top / cover no-repeat;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;
}

#header-img {
  width: 70px;
}


/* navbar buttons */
.nav-link {
  margin: 2px 20px;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link {
  font-size: 20px;
}

#hamburger {
  display: none;
  cursor: pointer;
  transform: scale(3);
}


/* first section  */
.head {
  width: 80vw;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head h1 {
  text-shadow: 4px 0 10px rgba(63, 112, 111, 1), 2px 0 10px rgba(0, 0, 0, 1);
  width: 70%;
  font-size: 5em;
  text-align: center;
}


/* section with video */
#about {
  width: 80vw;
  height: 100vh;
  margin: 20% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  width: 55vw;
  margin-right: 15px;
}

.q-paragraph {
  font-size: 2em;
}

.q-footer {
  font-size: 1.5em;
}

#video {
  margin-left: 10px;
  width: 40vw;
  height: 45vh;
}

.about-prod {
  width: 50vw;
}


/* section with form */
#buy-div {
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-text {
  font-size: 1.8em;
  margin: 20px;
  width: 60%;
  height: 20vh;
  text-align: center;

}

.buy-text p {
  line-height: 40px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 30vw;
}

#email {
  width: 100%;
  height: 8vmin;
  margin: 20px;
  font-size: 2em;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .3);
  outline: none;
  border: 1px solid rgba(0, 0, 0, .3);
}

#email::placeholder {
  font-size: .9em;
  text-align: center;
}

#submit {
  background-color: rgba(127, 122, 134, 1);
  outline: none;
  border-radius: 8px;
  border: none;
  color: #fff;
  text-shadow: 2px 0 2px rgba(0, 0, 0, 1);
  box-shadow: 0 4px 11px 2px rgba(0, 0, 0, .5);
  font-size: 18px;
  padding: 15px;
  cursor: pointer;
  padding: 20px;
  width: 50%;
}

#submit:hover {
  transition: transform .4s ease-in-out;
  transform: scale(1.1);
}

#submit:active {
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, .8);
  transition: box-shadow .4s ease-in-out, transform .4s ease-in-out;
  transform: scale(1);
}


@media all and (max-width: 1024px) {
    body {
      background-size: 200% 120%;
      background-position: center;
      background-attachment: fixed;
    }


  /* responsive navbar styling  */
    #header {
      justify-content: space-around;
      background-size: 200% 120vh;
    }

    #hamburger {
      display: block;
      z-index: 22;
    }

    .nav-link {
      padding: 20px;
      font-size: 3em;
      margin: 0;
    }

    .nav-display {
      position: absolute;
      top: 0;
      left: 0;
      display: grid;
      place-items: flex-end center;
      height: 100vh;
      width: 100%;

      background-color: rgba(137, 174, 200, 1);
      background: url('./img/b4.jpg') center / cover fixed;
    }

    .d--none {
      display: none;
    }

    .head {
      width: 100%;
    }

    .head h1 {
      font-size: 3.5em;
    }


/* video container and quote */
    #about {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .quote-container {
      width: 100%;
      border: none;
      margin: 10px;
    }

    .q-paragraph {
      font-size: 1.8em;
      text-align: right;
    }

    .q-footer {
      font-size: 1.2em;
    }

    #video {
      width: 100%;
      height: 50%;
      margin: 10px;
    }


    /* subscribe section */
    #buy-div {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    .buy-text {
      margin: 10px;
      text-align: center;
      padding: 10px;
    }

    #form {
      width: 100%;
      align-items: center;
      margin: 10px;
    }

    #email {
      width: 70%;
      height: 80%;
      margin: 10px;
      font-size: 3em;

    }

    #email::placeholder {
      text-align: center;
      font-size: 1em;
    }

    #submit {
      margin: 10px;
      width: 30%;
      font-size: 1.7em;
    }
}


@media all and (max-width: 767px) {
    body {
      background-size: 200% 100%;
    }

    .nav-display {
      background-size: 220% 100%;
      background-repeat: no-repeat;
      background-position: left;
    }

}


@media all and (min-width: 1440px) {

    .nav-link {
      font-size: 26px;
    }

    .head h1 {
      font-size: 7em;
    }

    .q-paragraph {
      font-size: 3em;
    }

    .q-footer {
      font-size: 2.4em;
    }

    .buy-text {
      font-size: 3em;
    }

    .buy-text p {
      line-height: 46px;
    }

    #email {
      font-size: 4em;
    }
    #email::placeholder {
      font-size: .9em;
    }


}
